:root {
    --darkColor: #04001e;
    --ligthColor: #DFFBFF;
    --primaryColor: #DB086F;
}

body {
    background-color: var(--darkColor);
    color: var(--ligthColor);
    font-family: system-ui; 
}

.wrapper {
    max-inline-size: 64rem;
    margin: auto;
}

.box {
    border: 5px dashed var(--primaryColor);
    padding: 1rem;
    counter-increment: flex-items;
}

.box::after {
    content: counter(flex-items);
}